<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Note: hasCode must be false for the Watch Face Format (resource-only APK). -->
    <application
        android:hasCode="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/watch_face_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="2" />
    </application>

</manifest>
